.navbar {
  background-color: #f2f2f2;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
}

.detail-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  font-family: sans-serif;
}

.detail-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-info h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #222;
}

.detail-info p {
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.detail-back-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detail-back-btn:hover {
  background-color: #5a6268;
}

.update-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #45a040;;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-btn:hover {
  background-color: #4CAF70;
}
.delete-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color:  #D32F2F;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #F44336;
}



