.update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #f3f4f6;
}

.update-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.update-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.update-input {
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.update-button {
  padding: 10px;
  background-color: #4CAF70;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #45a040;
}

.cancel-button {
  margin-top: 11px;
  padding: 10px;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #4f46e5;
}